<form>
  <mat-form-field>
    <mat-label>Select a category:</mat-label>
    <mat-select [(ngModel)]="model.category" name="options" (selectionChange)="findcategory()">
      <mat-option value="music">Music</mat-option>
      <mat-option value="webinar">Webinar</mat-option>
      <mat-option value="seminar">Seminar</mat-option>
      <mat-option value="workshop">Workshop</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<ng-container *ngIf="model.category && events.length > 0">
  <table mat-table [dataSource]="events">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Event name </th>
      <td mat-cell *matCellDef="let event"> {{ event.name }} </td>
    </ng-container>

    <ng-container matColumnDef="organiser">
      <th mat-header-cell *matHeaderCellDef> Organiser name </th>
      <td mat-cell *matCellDef="let event"> {{ event.organiser }} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let event"> {{ event.location }} </td>
    </ng-container>

    <ng-container matColumnDef="viewDetails">
      <th mat-header-cell *matHeaderCellDef> View details </th>
      <td mat-cell *matCellDef="let event">
        <button mat-button color="primary" (click)="details(event.id)">View</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'organiser', 'location', 'viewDetails']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'organiser', 'location', 'viewDetails'];"></tr>
  </table>
</ng-container>
