.mat-display-1 {
  text-align: center;
}

.db {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

button {
  margin: 8px;
}
.heading {
  background-color: #0D47A1; 
  color: #FFC107; 
  text-align: center;
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}